<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>GE CONTROL - Transporte v2</title>
<link rel="icon" href="/static/img/favicon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="/static/css/ge-brand.css">
<link rel="stylesheet" href="/static/css/transporte_v2.css">
</head>
<!-- ge-include: transporte_v2/_body.html -->
<script src="/static/js/transporte_v2/00_state.js"></script>
<script src="/static/js/transporte_v2/10_api.js"></script>
<script src="/static/js/transporte_v2/20_dashboard.js"></script>
<script src="/static/js/transporte_v2/30_viajes.js"></script>
<script src="/static/js/transporte_v2/40_documentos.js"></script>
<script src="/static/js/transporte_v2/50_carta_porte.js"></script>
<script src="/static/js/transporte_v2/80_catalogos.js"></script>
<script src="/static/js/transporte_v2/90_init.js"></script>
</body>
</html>
