<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>GE CONTROL - Transporte</title>
<link rel="icon" href="/static/img/favicon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="/static/css/ge-brand.css">
<link rel="stylesheet" href="/static/css/transporte.css">
</head>
<!-- ge-include: transporte/_body.html -->
<script src="/static/js/transporte/00_state.js"></script>
<script src="/static/js/transporte/10_i18n_utils_auth.js"></script>
<script src="/static/js/transporte/20_empresa_bootstrap.js"></script>
<script src="/static/js/transporte/30_dashboard_config.js"></script>
<script src="/static/js/transporte/40_catalogos_operacion.js"></script>
<script src="/static/js/transporte/50_viajes.js"></script>
<script src="/static/js/transporte/60_expediente_360.js"></script>
<script src="/static/js/transporte/70_tarifas_liquidaciones.js"></script>
<script src="/static/js/transporte/80_facturacion_covol_crud.js"></script>
<script src="/static/js/transporte/90_init.js"></script>
</body>
</html>
